{% extends "base.html" %}

{% block title %}{{ t('tpl.history.page_title') }} - {{ t('app.suffix') }}{% endblock %}

{% block content %}
<div class="page-content">
<a class="back-home-link" href="/">
    <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" style="display: inline-block; vertical-align: middle; margin-right: 4px;">
        <polyline points="15 18 9 12 15 6"></polyline>
    </svg>
    {{ t('tpl.history.back_home') }}
</a>
{% include "_history_content.html" %}
</div>

{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/history.js') }}"></script>
<script>
    initHistory();
</script>
{% endblock %}
